.about_section-item {
  column-gap: 3rem;
}
.about_section-item p i {
  color: rgba(15, 79, 59, 0.9);
  font-size: 1.1rem;
}
.section_title h2 {
  color: rgba(15, 79, 59, 0.9);
}
.ection_subtitle {
  margin-top: 50px;
}
.about_section {
  margin-top: 30px;
}
.about_subtitle {
  color: #154360;
  font-weight: 600;
}
.about_section p {
  line-height: 2rem;
  margin-top: 20px;
}

@media only screen and (max-width: 990px) {
  .about_section-content h4 {
    font-size: 1.5rem;
    color: #154360;
  }

  .about_section-item {
    column-gap: 3rem;
  }
  .about__section-item p {
    margin-bottom: 0;
  }

  .section_description i {
    font-size: 0.6rem;
  }
}
@media only screen and (max-width: 768px) {
  .about_img {
    margin-top: 100px;
  }
  .about__section {
    margin-top: 250px;
  }
}
@media only screen and (max-width: 576px) {
  .about__section {
    margin-top: 200px;
  }
  .about_section-content h4 {
    margin-top: 20px;
    font-size: 18px;
  }
  .section_title {
    font-size: 1rem;
  }
}
