.blog_list {
  margin-top: 25px;
}
.blog_item {
  border: 1px solid #7c8a972e;
}
.read-more {
  color: #154360;
  font-weight: 600;
  text-decoration: none;
  font-size: 1rem;
}
.read-more:hover {
  color: #f9a826;
}
.blog_time span i {
  color: #154360;
}
.blog_time span i:hover {
  color: #f9a826;
}
.blog_author {
  color: #154360;
}
.blog_info {
}
.blog_title {
  text-decoration: none;
  font-size: 1.2rem;
  color: #154360;
  font-weight: 600;
  transition: 0.3s;
  margin-bottom: 15px;
}
.blog_title:hover {
  color: #f9a826;
}
@media only screen and (max-width: 768px) {
  .blog_time {
    padding-top: 5px !important;
    font-size: 1rem !important;
  }
  .blog_time span {
    font-size: 0.9rem;
  }
  .blog_info p {
    font-size: 0.8rem;
    line-height: 1.5rem;
    margin-top: 10px;
  }
  .blog_title {
    font-size: 1rem;
    font-weight: 600;
  }
  .section_title {
    font-size: 1.5rem;
  }
}
