.contact_btn {
  background: #154360;
  color: #fff;
}
.contact_btn:hover {
  background: #154360;
  color: orange;
}
.social_icon {
  text-decoration: none;
  font-size: 25px;
  color: #154360;
  font-weight: 500;
}
