.find_cars-left {
  background: linear-gradient(rgba(15, 79, 59, 0.9), rgba(15, 79, 59, 0.9)),
    url("../assets/all-images/toyota-offer-2.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 65px 35px;
}
.find_cars-left h4 {
  font-weight: 600;
  font-size: 1.5rem;
  color: #fff;
}
.form_group {
  width: 30%;
  margin-bottom: 0;
}
.form_group input {
  border: 1px #7c8a972a;
  padding: 8px 12px;
  border: none;
  outline: none;
  width: 100%;
}
.form_group input ::placeholder {
  color: #7c8a97;
}
.find_car-btn {
  margin-left: 15px;
  border: none;
  background: rgba(15, 79, 59, 0.9);
  color: #fff;
}
.find_car-btn:hover {
  color: rgb(249, 168, 38, 0.9);
}
.form {
  background: #fff;
  padding-top: 55px;

  padding-left: 15px;
  padding-right: 15px;
}
.select_group {
  width: 30%;
}
.select_group select {
  width: 100%;
  padding: 8px 12px;
  border: #7c8a972a;
  outline: none;
  color: #7c8a97;
}
.form_row {
  background: #fff;
  box-shadow: 5px 5px 15px -5px #7c8a97;
}
.hero_slider-section {
  position: relative;
  z-index: 10;
  margin-bottom: 200px;
}
.hero_form {
  position: absolute;
  bottom: -150px;
  z-index: 11;
  width: 100%;
}
.journey_time::before {
  content: "Temps de parcours";
  margin-right: 0.8rem;
  color: #7c8a97;
}
@media only screen and (max-width: 992px) {
  .find_cars-left {
    padding: 65px 22px;
  }

  .find_cars-left h2 {
    font-size: 1.5rem;
  }
  .find_car-btn {
    width: 100%;
    height: 30px;
    font-size: 12px;
  }

  .form {
    padding: 30px 10px;
  }

  .form_group select {
    padding: 8px 12px;
    font-size: 10px;
  }

  .form_group input {
    font-size: 12px;
  }

  .hero_form {
    bottom: -130px;
  }
}

@media only screen and (max-width: 768px) {
  .find_cars-left {
    padding-top: 20px;
    padding-bottom: 0;
    background: #fff;
    text-align: center;
  }
  .find_cars-left h4 {
    color: #7c8a97;
    font-size: 1.2rem;
  }

  .form {
    padding: 20px 10px;
  }
}

@media only screen and (max-width: 576px) {
  .form_group {
    width: 100%;
    margin: auto;
    margin-bottom: 15px;
  }
  .find_cars-left h4 {
    color: #7c8a97;
  }

  .form_group input {
    font-size: 0.7rem !important;
  }

  .select_group {
    width: 100%;
    padding-right: 10px;
    font-size: 0.7rem;
  }

  .find_car-btn {
    font-size: 0.8rem;
    width: 100%;
    height: 30px;
  }

  .find_cars-left h2 {
    font-size: 1rem;
  }

  .hero_form {
    bottom: -200px;
  }
}
