.footer {
  background: #154360;
  padding-top: 50px;
  padding-bottom: 15px;
  font-size: 0.8rem;
  color: rgba(255, 255, 255, 0.715);
}
.footer_logo i {
  color: rgba(255, 255, 255, 0.715);
  font-weight: 400;
  font-size: 1rem;
  text-decoration: none;
}
.footer_logo span {
  color: rgba(255, 255, 255, 0.715);
  font-weight: 500;
  font-size: 1rem;
  text-decoration: none;
}
.footer_logo-content {
  color: rgba(255, 255, 255, 0.715);
  margin-top: 15px;
  line-height: 30px;
}
.quick_link {
  border: none;
  background: transparent;
  color: rgba(255, 255, 255, 0.715);
}
.quick_link a {
  color: rgba(255, 255, 255, 0.715);
  text-decoration: none;
  font-size: 1rem;
  transition: 0.3s;
}
.quick_link a:hover {
  color: #f9a826;
}
.footer_link-title {
  color: #fff;
}
.office_info {
  color: rgba(255, 255, 255, 0.715);
}
.newsletter {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px 12px;
  border: 1px solid #7c8a972f;
  border-radius: 50px;
  background: #154360;
}
.newsletter input {
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
}
.newsletter span {
  color: #fff;
}
.footer_bottom {
  border-top: 1px solid #7c8a972f;
}
